<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Web322 Gallery Assignment</title>
    <link rel="stylesheet" href="/public/css/gallery.css" />
</head>

<body>

    <form method="POST" action="/">

        <h1>Pokemon Collection</h1>

        <div class="selection">
            {{#each data.collection}}
                <input type="radio" name="rdoImage" id="rdoImage{{this}}" value="{{this}}">
                <label for="rdoImage{{this}}">{{this}}</label>
                <br>
            {{/each}}
            <br><br>
            <button type="submit" value="submit">Submit</button>
        </div>

    </form>
    
        <div class="content">
            <img src="/public/images/{{data.choice}}.png" alt="NO IMAGE"/>
            <br>
            <br>
        </div>
        <div class="imageName">  
            <b>{{data.choice}}</b>
        </div>

    </body>
</html>